/* ========== IMPORT ========== */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/**
 * 1rem 	= 16px;
 * 1.25rem 	= 20px;
 * 1.5rem 	= 24px;
 * 0.875rem = 14px;
 * 0.813rem = 13px;
*/

/**
 * ========== VARIABLES ==========
 * */

:root {

  /* ========== FONT ========== */
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* --body-font: 'Noto Sans', sans-serif; */
  --body-font: 'Poppins', sans-serif;

  /* ========== COLORS ========= */
  --hue: 207;
  --sat: 90%;
  --lig: 61%;
  --white: #fff;

  /**
  * hsl(207, 90%, 61%);
  * hsl(207, 90%, 57%);
  * hsl(207, 12%, 45%);
  * hsl(207, 8%, 45%);
  * hsl(207, 8%, 75%);
  * hsl(207, 8%, 92%);
  * hsl(207, 100%, 99%);
  * hsl(207, 8%, 66%);
  * hsl(207, 8%, 54%);
  */

  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), calc(var(--lig) - 4%));
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: var(--white);
  --webkit-scrollbar-color: hsl(var(--hue), 8%, 66%);
  --webkit-scrollbar-thumb-color: hsl(var(--hue), 8%, 54%);
}


/*========== Variables Dark theme ==========*/
  /**
  * hsl(207,12%, 95%);
  * hsl(207, 12%, 75%);
  * hsl(207, 40%, 8%);
  * hsl(207, 24%, 12%);

  */

body.dark-theme {
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  --body-color: hsl(var(--hue), 40%, 8%);
  --container-color: hsl(var(--hue), 24%, 12%);
}

.dark-theme .button--gray {
  background-color: var(--container-color);
}

.dark-theme .button--gray:hover {
  background-color: hsl(var(--hue), 24%, 16%);
}

.dark-theme .filters__content {
  background-color: var(--container-color);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(var(--hue), 8%, 16%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 8%, 24%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), 8%, 32%);
}
/**
 * ========== BASE ==========
 * */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);

  color: var(--text-color);
  background-color: var(--body-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 600;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--webkit-scrollbar-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--webkit-scrollbar-thumb-color);
}

/**
* ========== REUSEABLE CLASSES ==========
**/
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* ========== CHANGE THEME ICON ========== */
.change-theme {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;

  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* ========== PROFILE ========== */

.profile {
  position: relative;
  padding-top: 4rem;
}

.profile__container {
  row-gap: 2rem;
}

.profile__data {
  display: grid;
  text-align: center;
}

.profile__border {
  justify-self: center;

  display: grid;
  align-items: center;
  justify-items: center;
  width: 135px;
  height: 135px;
  margin-bottom: 1rem;
  border: 3.5px solid var(--first-color);
  border-radius: 50%;
}

.profile__perfil {

  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-items: center;

  width: 120px;
  height: 120px;
  background: linear-gradient(180deg,
      hsl(var(--hue), var(--sat), var(--lig), 1),
      hsl(var(--hue), var(--sat), var(--lig), 0.2));
  border-radius: 50%;
  overflow: hidden;
}

.profile__perfil img {
  width: 90px;
}

.profile__name {
  font-size: var(--h2-font-size);
}

.profile__profession {
  font-size: var(--smaller-font-size);
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.profile__social {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}

.profile__social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: 0.3s;
}

.profile__info {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 3rem;
}

.profile__info-group {
  text-align: center;
}

.profile__info-number {
  font-size: var(--normal-font-size);
  margin-bottom: 0.25rem;
}

.profile__info-description {
  font-size: var(--small-font-size);
  font-weight: 500;
}

.profile__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.profile__buttons--small {
  column-gap: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========== BUTTONS ========== */
.button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--first-color);
  color: var(--white);
  padding: 1.15rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 8 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
}

.button i {
  font-size: 1.25rem;
}

.button--gray {
  background-color: var(--text-color-lighten);
  color: var(--title-color);
}

.button--small {
  padding: 0.75rem;
  box-shadow: none;
}

/* ========== FILTER ========== */
.filters__content {
  width: 332px;
  background-color: var(--text-color-lighten);
  margin: 3rem auto;
  padding: 0.375rem;
  border-radius: .75rem;

  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.filters__button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.75rem;
  outline: none;
  cursor: pointer;

  color: var(--title-color);
  background-color: transparent;
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
}

.filter-tab-active {
  background-color: var(--body-color);
}

.filters [data-content]{
  display: none;
}

.filters__active[data-content] {
  display: grid;
}
/* ========== PROJECT ========== */
.projects__content {
  grid-template-columns: repeat(2, 332px);
  justify-content: center;
  gap: 2rem 3rem;
}

.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

}

.projects__card img {
  width: 100%;
  height: 100%;
}

.projects__modal {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;

  display: flex;
  align-items: flex-end;
  padding: 1.5rem;
  background: linear-gradient(180deg,
      hsla(var(--hue), 24%, 40%, 0.3),
      hsla(var(--hue), 24%, 4%, 1));
  transition: 0.3s;
}

.projects__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
  color: var(--white);
}

.projects__subtitle {
  font-size: var(--smaller-font-size);
  color: var(--white);
}

.projects__button {
  padding: 0.5rem;
}

.projects__card:hover .projects__modal {
  bottom: 0;
}

/* ========== SKILLS ========== */
.skills__content {
  grid-template-columns: repeat(2, 332px);
  row-gap: 3.5rem;
  column-gap: 3rem;
  justify-content: center;

}

.skills__title {
  font-size: var(--normal-font-size);
  margin-bottom: 2.5rem;
  text-align: center;
}

.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.skills__group {
  display: grid;
  row-gap: 1rem;
  align-content: flex-start;
}

.skills__data {
  display: flex;
  column-gap: 0.5rem;
}

.skills__data i {
  font-size: 1rem;
  color: var(--first-color);
}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: 500;
  line-height: 18px;
}

.skills__level{
  font-size: var(--small-font-size);
}

/* ========== FOOTER ========== */
.footer__copy-right {
  display: block;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin: 4.5rem 0 2.5rem;
}